{% extends "base.html" %}
{% block title %} Ошибка 500 {% endblock %}
{% block content %}
{% load static user_filters %}
{% include 'includes/nav.html' %}
  <main class="main container">
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        <div class="main__header">
          <h1 class="main__title">Ошибка 500</h1>
        </div>
        <div class="card-list">
          <h2>Ошибка на сервере, попробуйте обновить страницу или обратиться позже
          <br><br><a href="{% url 'index' %}">Вернуться на главную</a></h2>
        </div>
    </main>
        
  
{% endblock %}