{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
{% load static user_filters %}
{% include 'nav.html' with index=True %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ author.get_full_name }}</h1>
            {% include "tags.html" %}

        </div>
<!--        <p style="padding: 0 0 2em 0;"><a class="button button_style_light-blue" href="#">Подписаться на автора</a></p>-->
                                <!-- {% if request.user != author %}
                                    <div class="author-subscribe" data-author="323">
                                        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
                                    </div>
                                    {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                        href="{% url 'profile_unfollow' author.username %}" role="button"> 
                                        Отписаться 
                                        </a> 
                                    {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                        href="{% url 'profile_follow' author.username %}" role="button">
                                        Подписаться 
                                        </a>
                                    {% endif %}
                                {% endif %} -->
        <div class="author-subscribe" data-author="323">
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        </div>
        {% include "recipe_item.html" %}
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}